:root {
    --white-color: #F3F4ED;
    --light-text-color: #536162;
    --dark-text-color: #424642;
    --title-color: #28544B;
    --accent-color: orange;
    --handwriting-font: 'Kalam', cursive;
    --regular-font: 'Roboto Flex', sans-serif;
}

body, html {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--handwriting-font);
}

p {
    font-family: 'Roboto Flex', sans-serif;
    font-size: 1.2rem;
}

.hero-section {
    background-position: top 0px right -150px;
    background-image: linear-gradient(rgba(0,0,0,0.15) 70%,rgba(0,0,0,0.8)), url("../images/hero-jayden.png");
    background-repeat: repeat;
    background-size: cover;
    position: relative;
    height: 50%;
    padding-top: 28rem;
    padding-left: 2rem;
    padding-right: 2rem;
    width: 100%;
}

.main-section {
    padding: 1rem 2rem;
}

.footer-section {
    padding-bottom: 2rem;
    color: grey;
}

.section-divider {
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.hero-title {
    color: var(--white-color);
    font-size: 2.5rem;
    margin: 5rem, 0.5rem;
}

.hero-paragraph {
    color: var(--accent-color);
    font-size: 1.3rem;
}

.section-title {
    color: var(--title-color);
    font-size: 2.2rem;
    font-weight: bold;
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}

.section-introduction {
    margin-bottom: 0rem;
}

.activity-image {
    border-radius: 4px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    width: 100%;
    height: auto;
    margin-top: 3rem;
}

.activity-title {
    color: var(--accent-color);
    display: inline-block;
    font-size: 1.8rem;
    margin-top: 2rem;
    margin-bottom: 0.3rem;
}

.activity-paragraph {
    display: inline-block;
}

.travel-intro-paragraph {
    margin-bottom: 3rem;
}

.travel-card-title {
    color: var(--accent-color);
    display: inline-block;
    font-size: 1.8rem;
    margin-top: 0.5rem;
    margin-bottom: 0.3rem;
}

.artwork-intro-paragraph {
    margin-bottom: 3rem;
}

.carousel-control {
    margin-top: 5rem;
    padding: 0;
}

.carousel-img {
    width: 100%;
    height:350px;
    /* width: 100%; */
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

@media screen and (min-width: 992px) {
    .hero-section {
        background-position: top 0px right 0;
        background-image: linear-gradient(rgba(0,0,0,0.15) 70%,rgba(0,0,0,0.8)), url("../images/hero-jayden.png");
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        height: 50%;
        padding-top: 25rem;
        padding-left: 6rem;
        padding-right: 3rem;
        width: 100%;
    }

    .hero-title {
        color: var(--white-color);
        font-size: 5rem;
        margin: 5rem, 0.5rem;
    }

    .hero-paragraph {
        font-size: 2rem;
    }

    p {
        font-size: 1.4rem;
    }
    
    .section-title {
        font-size: 3.5rem;
        margin-top: 3rem;
        margin-bottom: 3rem;
    }

    .main-section {
        padding: 1rem 2rem;
    }
    
    .section-divider {
        margin-top: 5rem;
        margin-bottom: 5rem;
    }

    .section-introduction {
        margin-bottom: 0rem;
    }
    
    .activity-image {
        border-radius: 4px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        width: 100%;
        height: 350px;
        object-fit: cover;
        margin-top: 3rem;
    }
    
    .activity-title {
        color: var(--accent-color);
        display: inline-block;
        font-size: 2.5rem;
        margin-top: 3rem;
        margin-bottom: 0.3rem;
    }
    
    .activity-paragraph {
        display: inline-block;
    }
    
    .travel-intro-paragraph {
        margin-bottom: 3rem;
    }
    
    .travel-card-title {
        color: var(--accent-color);
        display: inline-block;
        font-size: 2.5rem;
        margin-top: 0.5rem;
        margin-bottom: 0.3rem;
    }
    
    .artwork-intro-paragraph {
        margin-bottom: 3rem;
    }
    
    .carousel-img {
        width: auto;
        height:350px;
        /* width: 100%; */
        object-fit: cover;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
}






