<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Playground</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
    <div class="container">
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        <div class="col">
          <div class="card h-100">
            <img
              src="images/Ski.jpg"
              class="card-img-top activity-image"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Skiing</h5>
              <p class="card-text">
                I cannot wait for winter to come. Skiiing ⛷️ is so fun! And I'd
                like to see you at Snow Valley. We can also go to the mountain
                together.
              </p>
              <a href="#" class="btn btn-outline-secondary">More...</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="images/Swim.jpg"
              class="card-img-top activity-image"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Swimming</h5>
              <p class="card-text">
                Swimming 🏊‍♂️ is my weekly routine. It makes my body strong. And I
                also heard that it helps you grow taller. Who does not want to
                grow stronger and taller?
              </p>
              <a href="#" class="btn btn-outline-secondary">More...</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="images/Fencing.jpg"
              class="card-img-top activity-image"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Fencing</h5>
              <p class="card-text">
                Learning with a World Champion 🏆 coach is my privilege. It is
                part of my weekly routine as well.
              </p>
              <a href="#" class="btn btn-outline-secondary">More...</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="images/Cello.jpg"
              class="card-img-top activity-image"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Playing Cello</h5>
              <p class="card-text">
                Cello is such a ❤️ beautiful ❤️ music instrument.
                <a
                  href="https://www.youtube.com/channel/UCyjuFsbclXyntSRMBAILzbw"
                  class="link-info"
                  >2CELLOS</a
                >
                is our family's favorite band.
              </p>
              <a href="#" class="btn btn-outline-secondary">More...</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="images/Programming.jpg"
              class="card-img-top activity-image"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Programming</h5>
              <p class="card-text">
                I love programming 🧑‍💻 using SWIFT on my iPad.
              </p>
              <figure class="text-center">
                <blockquote class="blockquote">
                  <p>collect gems... toggle portals...</p>
                </blockquote>
                <figcaption class="blockquote-footer">my dad</figcaption>
              </figure>
              <a href="#" class="btn btn-outline-secondary">More...</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card h-100">
            <img
              src="images/Speech.jpg"
              class="card-img-top activity-image"
              alt="..."
            />
            <div class="card-body">
              <h5 class="card-title">Speech</h5>
              <p class="card-text">
                It is all about
                <em class="fw-semibold">the Power of the Voice </em>🎙️.
              </p>
              <a href="#" class="btn btn-outline-secondary">More...</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
